<app-menu></app-menu>
<br><br>

<div class="banner">
    <div>
        <h1 class="titulo">Historia</h1>
    </div>
</div>

<h1 class="fw-bold text-center mt-5">Imagine Dragons</h1> <br><br>

<img src="https://img.europapress.es/fotoweb/fotonoticia_20150126181517_1200.jpg" alt="" class="container foto">

<p class="container texto">Imagine Dragons se formó en 2008 con Dan Reynolds como vocalista junto a otros estudiantes de la Universidad Brigham Young. Al tiempo, llegaría quien hoy es su guitarrista, Wayne Sermon. Luego, por invitación de éste, fue llamado Ben McKee, su bajista y, más adelante, Daniel Platzman, su baterista.
    Ahora bien, ¿a quién se le ocurrió este nombre y por qué? Bueno, "Imagine Dragons" es, en realidad, un anagrama del "verdadero nombre" que, según se cree, es una frase significativa para la banda.
</p>

<p class="container texto">
    Cuando el grupo de rock alcanzó la popularidad, sobre todo, tras la presentación del primer disco "Night Visions", el misterio respecto al nombre y al anagrama era algo que los fans anhelaban saber. Todo quedó develado en el videoclip oficial del tema "On Top of the World". En una parte de este video, podemos ver al guitarrista Wayne Sermon en un autómovil que posee una frase "Ragged Insomnia" ("Insomnio irregular") que, cambiando sus letras de lugar, se puede formar "Imagine Dragons".
    A partir de ahí, con esto develado, todo parece tener sentido.
</p>

<p class="container texto">La frase tiene un significado especial para la banda. Algunos creen que éste fue en realidad el primer nombre del grupo, pero que se cambió por el de Imagine Dragons para tener un mayor éxito comercial y otros también lo relacionan con el hecho de que Sermon sufre de insomnio y que, además la banda compone la mayoría de sus canciones durante la noche.
    Imagine Dragons volverán por tercera vez al país, luego de una primera participación en el Lollapalooza de 2014 y su última presentación en 2015 en el marco de la gira "Smoke + Mirrors".
    Está compuesta por Dan Reynolds (vocalista), Daniel Wayne Sermon (guitarrista), Ben McKee (bajista) y Daniel Platzman (baterista). La banda ganó el reconocimiento mundial con el lanzamiento de su álbum de estudio debut Night Visions (2012), y con su canción "It's Time". Billboard colocó a Imagine Dragons en la cima de su ranking del 2013 "Year In Rock", además los llamó «la banda revelación del 2013».​ La revista Rolling Stone llamó a su canción Radioactive de Night Visions «el mayor éxito rock del año». 7​8​9​ MTV los llamó «la banda revelación del año». "Radioactive" es la segunda canción con más semanas dentro del Billboard Hot 100 en la historia con un total de 87 semanas, con esto la banda hace historia. Night Visions alcanzó su punto máximo en el número dos de la lista semanal Billboard 200 y en UK Albums Chart. Su segundo álbum de estudio, Smoke + Mirrors, alcanzó el número uno en los Estados Unidos, Canadá y el Reino Unido
</p>

<img src="https://lastfm.freetls.fastly.net/i/u/770x0/d645cfa73e13eb828349968ec2d0e234.jpg" alt="" class="foto2">

<p class="container texto">
    La banda ganó un gran número de seguidores en su ciudad natal, Provo, Utah, antes de que los miembros se trasladaran a Las Vegas, la ciudad natal de Dan Reynolds, donde la banda grabó y lanzó sus primeros tres EPs.

La banda lanzó los EP titulados Imagine Dragons y Hell and Silence en  2010, ambos grabados en Battle Born Studios, en Las Vegas. Regresaron al estudio en 2011.​ El tercer EP, It's Time, se hizo antes de firmar un contrato discográfico.​

Tuvieron su primer gran concierto cuando el vocalista de Train, Pat Monahan, cayó enfermo justo antes del Bite of Las Vegas Festival 2009. Imagine Dragons fue llamado para presentarse frente a una multitud de más de 26,000 personas.19​ Lograron obtener varios premios locales, tales como "Mejor CD de 2011" (Vegas SEVEN), "Mejor banda indie local" en 2010 (Las Vegas Weekly),​ "Newest Must See Live Act" de las Vegas (Las Vegas CityLife),​ Vegas Music Summit Headliner de 2010. En noviembre de 2011 firmaron con Interscope Records y comenzaron a trabajar con el productor inglés, ganador del Grammy, Alex da Kid. Eventualmente los Tolman dejarían el grupo y Daniel Platzman sería reclutado en agosto de 2011 por invitación de Ben McKee, junto a la tecladista Theresa Flaminio; antes de la firma del contrato discográfico de la banda en noviembre de 2011.
</p>

<p class="container texto">
    Imagine Dragons ganó dos American Music Awards por "Artista Alternativo Favorito", un premio Grammy a la mejor interpretación rock, cinco premios Billboard Music Awards y un premio World Music Award. En mayo de 2014, la banda obtuvo un total de catorce nominaciones en diferentes categorías en los Billboard Music Awards, incluyendo "Top Artist of the Year" y un Milestone Award, el cual reconoce la innovación y la creatividad de varios artistas a través de diferentes géneros.

Hasta enero de 2017, Imagine Dragons había vendido 9 millones de copias de sus álbumes, y 27 millones en sencillos.
</p> <br>

<app-footer></app-footer>
