.banner{
    background-image: url('https://los40.com/los40/imagenes/2021/10/28/musica/1635431382_355171_1635431603_gigante_normal.jpg');
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.titulo{
    width: calc(100vw - 20px) ;
    height: 100vh;
    font-size: 90px;
    font-weight: 400;
    font-family: 'Sriracha', cursive;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.foto{
    height: 600px;
}

.letra{
    size: 30px;
}

.card{
    border: 1px solid;
}

.borde{
    border: 1px solid;
}