.banner{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/queen-5c2a4.appspot.com/o/imagine%20dragons.png?alt=media&token=ebba8632-ff6b-4352-8ec2-24440a7644f4');
    
    background-position: top center;
    background-size: cover;
    padding: 5% 30% 50% 20%;
}

.imagen{
    height: 500px;
    
}

.foto{
    height: 600px;
}